{% extends 'app/base.html' %}
{% load static %}
{% block js %}
<script src="https://kit.fontawesome.com/d5ff9e6164.js" crossorigin="anonymous"></script>
<style>
#main-container {
    margin: 150px auto;
    width: 600px;
  }

  table {
    align-items: left;
    background-color: white;
    border-collapse: collapse;
    font-family: 'Segoe UI';
    width: 100%;
    box-shadow: 0 0 20px rgb(163, 163, 163);
    padding: 50%;
  }
  td,
  th {
    padding: 20px;
  }
  thead {
    background-color: #f29d39;
    color: white;
    border-bottom: rgb(255, 90, 61) 5px solid;
    text-align: left;
  }

  main {
    padding: 1em 2em;
  }

  .centrado {
    text-align: center;
  }

  .colorx {
    color: grey;
  }

 tr:nth-child(even){
     background-color: #ddd;      
 }

 tr:hover td{
     background-color: #fcb7c1;
 }

 @media (max-width: 45em){
        table{
            width:  100%;
            font-size:100%;
        }
        table td, table th {
            border: none;
            text-align: center;
        }
        table tr{
            display: flex;
            flex-direction: column;
            border: 1px solid grey;
            padding: 1em solid grey;            
        }
        table td[data-titulo]{
            display: flex;
        }
        table td[data-titulo]::before{
            content: attr( data-titulo );
            width: 100px;
            color: rgb(82, 81, 81);
            font-weight: bold;
        }
        table thead{
            display:none;
        }
}
.derecha{text-align: right;padding: 0%;}
.button4 {
background-color: #FF395B; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
}

/*paginación*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #FF395B;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
</style>
{% endblock %}
{% block css %}
{% endblock %}
{% block contenido %}
<div>
<h1 class="main-title">Administrar Usuarios  <div class="derecha"><button class="button4">Agregar nuevo usuario</button></h1></div>
<div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-titulo="Nombre">Jaime Larrondo</td>
                <td data-titulo="Rol">Facilitador</td>
                <td data-titulo="Correo">Jaime_la@gamifiwork.cl</td>
                <td data-titulo="Estado">Activo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>
    
            </tr>
            <tr>
                <td data-titulo="Nombre">Maria Magdalena</td>
                <td data-titulo="Rol">Administrador</td>
                <td data-titulo="Correo">mari_mag@gamifiwork.cl</td>
                <td data-titulo="Estado">Activo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>
    
            </tr>
            <tr>
                <td data-titulo="Nombre">Yoshi Corry</td>
                <td data-titulo="Rol">Jefe de proyecto</td>
                <td data-titulo="Correo">Yoshimi@gamifiwork.cl</td>
                <td data-titulo="Estado">Inactivo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>
    
            </tr>
            <tr>
                <td data-titulo="Nombre">Yoshi Corry</td>
                <td data-titulo="Rol">Facilitador</td>
                <td data-titulo="Correo">Yoshimi@gamifiwork.cl</td>
                <td data-titulo="Estado">Inactivo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>
    
            </tr>
            <tr>
                <td data-titulo="Nombre">Yoshi Corry</td>
                <td data-titulo="Rol">Facilitador</td>
                <td data-titulo="Correo">Yoshimi@gamifiwork.cl</td>
                <td data-titulo="Estado">Inactivo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>
    
            </tr>
            <tr>
                <td data-titulo="Nombre">Yoshi Corry</td>
                <td data-titulo="Rol">Facilitador</td>
                <td data-titulo="Correo">Yoshimi@gamifiwork.cl</td>
                <td data-titulo="Estado">Inactivo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>
    
            </tr>
            <tr>
                <td data-titulo="Nombre">Yoshi Corry</td>
                <td data-titulo="Rol">Facilitador</td>
                <td data-titulo="Correo">Yoshimi@gamifiwork.cl</td>
                <td data-titulo="Estado">Inactivo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>    
            </tr>
            <tr>
                <td data-titulo="Nombre">Yoshi Corry</td>
                <td data-titulo="Rol">Facilitador</td>
                <td data-titulo="Correo">Yoshimi@gamifiwork.cl</td>
                <td data-titulo="Estado">Inactivo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>    
            </tr>
            <tr>
                <td data-titulo="Nombre">Yoshi Corry</td>
                <td data-titulo="Rol">Facilitador</td>
                <td data-titulo="Correo">Yoshimi@gamifiwork.cl</td>
                <td data-titulo="Estado">Inactivo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>    
            </tr>
            <tr>
                <td data-titulo="Nombre">Yoshi Corry</td>
                <td data-titulo="Rol">Facilitador</td>
                <td data-titulo="Correo">Yoshimi@gamifiwork.cl</td>
                <td data-titulo="Estado">Inactivo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>    
            </tr>
            <tr>
                <td data-titulo="Nombre">Yoshi Corry</td>
                <td data-titulo="Rol">Facilitador</td>
                <td data-titulo="Correo">Yoshimi@gamifiwork.cl</td>
                <td data-titulo="Estado">Inactivo</td>
                <td class="centrado">
                    <a href="#" class="fas fa-edit colorx"></a>
                    <a href="#" class="fas fa-trash colorx"></a>
                </td>    
            </tr>
        </tbody>
    </table>
</div>

<br>

<div class="centrado">
    <ul class="pagination">
        <li><a href="#">«</a></li>
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>

<br>
</div>    
<br>

{% endblock %}