{% extends 'app/base.html' %}
{% load static %}
{% block js %}
<style>
    .button4 {
background-color: #FF395B; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
}
</style>
{% endblock %}
{% block css %}

{% endblock %}
{% block contenido %}
    <br><br>
    
      <h1 class="sign-up__title">Registro de usuario</h1>
     
      <form class="sign-up-form form" action="" method="">
        <label class="form-label-wrapper">
          <p class="form-label">Nombre</p>
          <input
            class="form-input"
            type="text"
            placeholder="Introducir nombre"
            required
          />
        </label>
        <label class="form-label-wrapper">
          <p class="form-label">Tipo de cuenta</p>
          <select class="form-select" name="transporte">
            <option>Facilitador</option>

            <option>Jefe de proyecto</option>

            <option>Administrador</option>
          </select>
        </label>
        <label class="form-label-wrapper">
          <p class="form-label">Correo electronico</p>
          <input
            class="form-input"
            type="email"
            placeholder="Introducir correo"
            required
          />
        </label>
        <label class="form-label-wrapper">
          <p class="form-label">Contraseña</p>
          <input
            class="form-input"
            type="password"
            placeholder="Introducir contraseña"
            required
          />
        </label>       
        <button class="form-btn primary-default-btn transparent-btn button4">
          Registrar
        </button>
      </form>




{% endblock %}